<div class="trip-single">
  <p>TRIP INFO</p>
  <p>Title: <%= trip.title %></p>
  <p>Description: <%= trip.description %></p>
  <% unless trip.itineraries.empty? %>
    <% trip.itineraries.each do |itinerary| %>
      <div class="location-display">
        <%= itinerary.location.address %>
        <% suggest_items.each do |item| %>
          <%= item.name %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <p><%= link_to "New Itinerary", new_trip_itinerary_path(trip), class: "pure-button" %></p>
  <p> <%= link_to "Edit", edit_trip_path(trip.id),  class: "pure-button" %></p>
  <p> <%= link_to "Delete", trip_path(trip.id), method: :delete, class: "button-error pure-button"  %></p>
</div>