<div class="user_dash">
  <h2>Hey <%= (user.username).upcase %>!</h2>
  <h3>Your recent recommendations:</h3>
</div>
<div id="grid-gallery" class="grid-gallery">
  <section class="grid-wrap">
    <ul class="grid">
      <li class="grid-sizer"></li>
      <% user.comments.each do |comment| %>
      <li>
        <figure>
          <a href="http://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fpacksnap-20%2F8005%2F0870c92d-cb68-4348-88ac-c9d3ab54c683&Operation=NoScript" search="<%= comment.item.name %>" type="amzn">
          <%= image_tag comment.item.image.url(:medium) %>
          </a>
          <figcaption><h3><%= comment.location.address %></h3>
            <p><%= comment.content %></p>
          </figcaption>
        </figure>
      </li>
      <% end %>
    </ul>
  </section>
</div>