<div class="user_dash">
  <h2>Hey <%= user.username %>!</h2>
  <p><%= user.email %></p>
  <h3>Here are your recent recommendations:</h3>
  <% user.comments.each do |comment| %>
    <h3><%= comment.location.address %></h3>
    <%= comment.content %>
    <%= image_tag comment.item.image.url(:thumb) %>
  <% end %>
</div>