<h2 class="content-head">Share an Item to Pack</h2>
<div class="recommend-form">
 
    <%= form_tag("/dash", method: :post, multipart: true, class: "pure-form pure-form-aligned") do %>
    <%= hidden_field_tag "location[id]", params[:location][:id] %>
    <%= hidden_field_tag "item[user_id]", session[:user_id] %>
    <%= label_tag "Item Name" %>
    <%= text_field_tag "item[name]" %> <br>
    <%= file_field_tag "item[image]" %> <br>
    <%= label_tag "Comment" %>
    <%= text_area_tag "comment[content]" %> <br><br>
    <%= submit_tag "Upload", class: "pure-button pure-button-primary" %>
    <% end %>

</div>