<div class="container">
	<div class="dash-header">
		<h1 class="destination-title"><%= @location.address %><span class="temp"><%= @weather.round %>&deg;F</span></h1>
		<p class="weather-summary"><%= @summary %></p>
	</div>
	<div id="mi-slider" class="mi-slider">
		<ul>
			<% @suggested_items.each do |item| %>
			<li><%= image_tag item.image.url(:original) %><h4><%= item.name %></li>
			<% end %>
		</ul>
		<nav>
			<a href="#">PackSnap Suggestions</a>
		</nav>
	</div>
	<div id="grid-gallery" class="grid-gallery">
		<%= render partial: "dash/grip_wrap" %>
		<%= render partial: "dash/slideshow" %>
	</div>
	<%= render partial: "dash/hidden_form" %>
</div>
