<div class="container">
<div class="dash-header">
		<h1 class="destination-title"><%= location.address %>
		<h1 class="temp"><%= weather %>°C</h1>
		<br>
		<h3 class="summary"><%= summary %></h3>
</div>
		<h3 id="suggested-items">Suggested Items</h3>
		<% items.each do |item| %>
      <%= link_to (image_tag item.image.url(:thumb)), "#", search: item.name, type: "amzn" %>
			<%= item.name %>
		<% end %>
	<%= render partial: "dash/hidden_form", locals:{latitude: latitude, longitude: longitude, address: address} %>
	<div id="grid-gallery" class="grid-gallery">
		<%= render partial: "dash/grip_wrap", locals:{location: location} %>
		<%= render partial: "dash/slideshow", locals:{location: location} %>
	</div>

