<div class="banner">
  <ul class="banner-ul">
    <li>
      <%= image_tag("road.png") %>
    </li>
    <li>
    <%= image_tag("laundry.png") %>
    </li>
    <li>
    <%= image_tag("river.png") %>
    </li>
    <li>
    <%= image_tag("fishing.png") %>
    </li>
  </ul>
</div>
<div class="splash">
  <h1 class="splash-head">PackSnap!</h1>
  <p class="splash-subhead">
    Discover what items you may need on your next trip.
  </p>
  <p>
    <%= link_to "How it works", '#get-started', class: "splash-button splash-button-primary" %>
  </p>


</div>

<%= render partial: "layouts/search_area" %>