<%= video_tag "broll.mp4", :id => "bgvid", :autoplay => true, :loop => true %>
<div class="splash">
  <h1 class="splash-head">PackSnap!</h1>
  <p class="splash-subhead">
    Discover what items you may need on your next trip.
  </p>
  <p>
  <%= link_to "Learn More", '#get-started', class: "splash-button splash-button-primary" %>
  </p>
</div>
<div class="search_area">
  <%= form_tag("/dash", method: "get", class: "pure-form new-location") do %>
    <%= text_field_tag "geocomplete", nil, placeholder: "Where are you going?", class: "pure-u-1 pure-u-md-1-3" %>
    <%= date_field_tag "date", Date.today, id: "geocomplete_date", class: "pure-u-1 pure-u-md-1-3" %>
    <%= submit_tag "Search", id:"find", class:"pure-button pure-button-primary" %>
  <% end %>
</div>

