<section class="modal--fade" id="login"
tabindex="-1" role="dialog" aria-labelledby="label-fade" aria-hidden="true">

<div class="modal-inner">
	<header><h2 id="label-fade">Login</h2></header>
	<div class="modal-content">

  <%= form_tag(session_login_path) do %>
    <%= label_tag(:email) %>
    <%= text_field_tag "user[email]" %>
    <br>
    <%= label_tag :password %>
    <%= password_field_tag "user[password]" %>
    <br>
    <%= submit_tag "Log In!" %>
  <% end %>



	</div>
</div>

<a href="#!" class="modal-close" title="Close this modal"
data-dismiss="modal" data-close="Close">&times;</a>
</section>