<nav class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
	<a class="pure-menu-heading" href="/"><%=image_tag("logo-blue.svg", size: "32") %></a><logo>PackSnap</logo>
	<ul>
		<% if current_user %>
		<li><%= link_to "Profile", user_path(current_user) %></li>
		<li><%= link_to "Log out", session_logout_path %></li>
		<% else %>
		<li><%= link_to "Log In", "#login" %></li>
		<li><%= link_to "Sign Up", '#sign-up' %></li>
		<% end %>
	</ul>
</nav>

