<!DOCTYPE html>
<html>
<head>
	<title>PackSnap</title>
	<script src="//maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>
<body>

	<%= render "layouts/navbar" %>
	<%= render "layouts/modal_getstarted" %>
	<% if !current_user %>
		<%= render "layouts/modal_login" %>
		<%= render "layouts/modal_signup" %>
	<% end %>
	<div class="content-wrapper">
		<%= render "layouts/banner" %>
		<div id="append">
				<% if flash[:error] %>
			<%= flash[:error] %>
	<% end %>
			<%= yield %>
		</div>
	</div>
</body>
</html>
