<!DOCTYPE html>
<html>
<head>
	<title>PackSnap</title>
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>
<body>

<img src="">
<img src=<%=Item.last.photo.url(:medium)%>>
<img src=<%=Item.last.photo.url(:thumb)%>>
<!-- <img src="//jean_image.jpg"> -->
<img src="//home/viktor/Dropbox/DBC/PackSnap/app/assets/images/originals/jean_image.jpg">


</body>
</html>
