<!DOCTYPE html>
<html>
<head>
	<title>PackSnap</title>
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>
<body>

	<%= render "layouts/navbar" %>
	<%= render "layouts/spacing" %>
	<%= render "layouts/modal_getstarted" %>
	<div id="append"class="l-box-lrg pure-u-1 pure-u-md-3-5">
		<%= yield %>
	</div>



</body>
</html>
