<!DOCTYPE html>
<html>
<head>
	<title>PackSnap</title>
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/navbar" %>
	<%= render "layouts/modal_getstarted" %>
	<% if !current_user %>
		<%= render "layouts/modal_login" %>
		<%= render "layouts/modal_signup" %>
	<% end %>
	<%= render "layouts/banner"%>
	<div class="content-wrapper">
		<div id="append">
			<%= yield %>
		</div>
		<div class="map_canvas"></div>
	</div>
</body>
</html>
